.App {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background-color: rgb(24, 24, 66);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-self: space-around;
  align-items: center;
  list-style: none;
}
.BTN {
  background-color: rgb(55, 55, 173);
  color: white;
  margin-left: 50px;
}
